


/* Couleur Compétences 3 */
#C3 header  { border-color : #f6fc5a; }
#C3 article { border-color : #f6fc5a; }
#C3 h2      { border-color : #f6fc5a; }
#C3 h1      { color        : #f6fc5a; }
#C3 a       { color        : #f6fc5a; }

/* Couleur Compétences 4 */
#C4 header  { border-color : #5edf52; }
#C4 article { border-color : #5edf52; }
#C4 h2      { border-color : #5edf52; }
#C4 h1      { color        : #5edf52; }
#C4 a       { color        : #5edf52; }

/* Couleur Compétences 5 */
#C5 header  { border-color : #4d81f0; }
#C5 article { border-color : #4d81f0; }
#C5 h2      { border-color : #4d81f0; }
#C5 h1      { color        : #4d81f0; }
#C5 a       { color        : #4d81f0; }

/* Couleur Compétences 6 */
#C6 header  { border-color : #b325d6; }
#C6 article { border-color : #b325d6; }
#C6 h2      { border-color : #b325d6; }
#C6 h1      { color        : #b325d6; }
#C6 a       { color        : #b325d6; }
