/*---------------------------------------*/
/*                GENERAL                */
/*---------------------------------------*/

@font-face 
{
	font-family: 'Test';
	src: url('../src/Righteous-Regular.ttf') format('truetype');
}

  body
{
	background-image: url('../src/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}

/*---------------------------------------*/
/*                HEADER                 */
/*---------------------------------------*/

header 
{
	color : white;
	font-family: 'Test', sans-serif;

	position: absolute;
	top: 65%;
	left : 5%;
}

h1
{
	font-size     : 80px;
	margin-bottom : -20px;
}


/*---------------------------------------*/
/*             NAVIGATION 1              */
/*---------------------------------------*/

/* Base */
nav 
{
	background-color: #f2f2f2;

	position: absolute;
	bottom: 0;
	left : 0;
	width : 100%;
}
  
nav ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
  
nav li 
{
	flex: 1;
}

/* Lien */
nav a 
{
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #222;

	-moz-transition: all 1.5s; 
	-webkit-transition: all 1.5s; 
	-o-transition: all 1.5s; 
	transition: all 1.5s;
}

nav a:hover 
{
	-moz-transition: all .5s; 
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;
}


/* Couleurs  */
nav li:nth-child(1) a:hover { background-color : #ffa1a1; }
nav li:nth-child(2) a:hover { background-color : #ff9b58; }
nav li:nth-child(3) a:hover { background-color : #a8b8ff; }



/*---------------------------------------*/
/*             NAVIGATION 2              */
/*---------------------------------------*/

#MENUDER 
{
	display: none;
	position: absolute;
	transform: translateY(-100%); 
	top       : 0;
}

nav li:hover > ul#MENUDER,
nav li ul#MENUDER:hover 
{
  display: block;
}

#MENUDER 
{
	background-color: #f2f2f2;
	width           : 33.3%;
}
  
#MENUDER a 
{
	text-align: left;
}

#MENUDER li:nth-child(1) a:hover { background-color : #d880ee; }
#MENUDER li:nth-child(2) a:hover { background-color : #A0C4FF; }
#MENUDER li:nth-child(3) a:hover { background-color : #98ec87; }
#MENUDER li:nth-child(4) a:hover { background-color : #fcf193; }
#MENUDER li:nth-child(5) a:hover { background-color : #FFD6A5; }
#MENUDER li:nth-child(6) a:hover { background-color : #FFADAD; }